/* Global resets */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	color: #424242;
	line-height: 1.4;
}

/* Fonts */
h1 {
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;
	font-size: 2.5em;
	font-weight: bold;
}

.container {
	margin: 2em auto;
	max-width: 630px;
	text-align: center;
}

/* The following font information and color codes are provided for you.  They do not match the prototype exactly, but they are fine to use for the assignment and doing so does not count against you.  They are simply meant to help you save time.  We would like everyone to have as close to a pixel-perfect match to the prototype as possible.  If you do find a font/color that matches more precisely, please share it with the team so we can improve the activity for future applicants.  Thank you!  Happy coding!

	FONTS:
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;

  COLORS:
  blue: #20A1D4;
  green: #1CBC2C;
  orange: #EF5F3C;
  black: #424242;
  grey: #777;
  light grey: #eaeaea;
*/

/* Your CSS code goes here */

.my-container {
	margin: 2em auto;
	max-width: 630px;
	text-align: center;
}

header {
	color: white;
	background-color: #424242;
	padding: 20px 60px;
	width: 303px;
}

	/* Shows the "progression" of funds to project goal in a strip visual format.*/
section {
	border: 2px solid #eaeaea;
	display: flex;
	flex-direction: row;
	margin-top: 20px;
	width: 303px;
}

section div {
	background: #EF5F3C;
	color: #EF5F3C;
	width: 303px;
}

form {
	height: auto;
	width: 303px;
	border: 2px solid #eaeaea;
	padding: 20px;
}

.field-and-button {
	display: flex;
	column-count: 2;
}

input {
	display: block;
	width: 100px;
	color: #777;
	padding: 20px;
}

.button-give {
	display: block;
	width: 100px;
	color: white;
	background: #1CBC2C;
	padding: 20px;
	margin: 20px;

}

.why-question {
		float: left;
		color: #20A1D4
		font-style: italic;
		text-align: left;
		padding: 20px 40px 40px 40px;
}

.bottom-buttons {
	display: flex;
	row-count: 2;
}

.button-left {
	display: flex;
	flex-direction: row;
	margin: 20px;
	font-weight: bold;
	background: #eaeaea;
	padding: 20px;
}

.button-right {
	display: flex;
	flex-direction: row;
	margin: 20px;
	font-weight: bold;
	background: #eaeaea;
	padding: 20px;
}
